.column {
    float: left;
}

.left{
    width:80%;
}

.right{
    width:20%;
}

.row:after {  /*Clear floats*/
  content: "";
  display: table;
  clear: both;
}

#quitButton{
    width: max(100px, 10vw);
    height: 5vw;
    font-weight: bold;
}
